
      <header>
        <div class="logo" id="logo">
<!--<img src="img/000.png" alt="">-->
<i class="fa fa-university fa-5x" id="img" style="color:#ac9766; text-shadow:3px 3px 3px #fff;"></i>
        </div>
        <div class="brand">
          <h1>Laxmi Chitfund</h1>
          <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp ekkiss din me paisa double....</p>

        </div>
      </header>
