<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ATM System.</title>
    <link rel="stylesheet" href="/indexstyle.css">
    <link rel="stylesheet" href="/all.css">

<script type="text/javascript">

  function cancel(){
    document.write();
    //window.location.href="/transclog";
    window.location.href="/transc/{{user.id}}";
    //window.location.assign("transc/{{user.id}}");

  }
</script>

  </head>
  <body>


{{>header}}
      <section id="mainbal">
      <div id="log" style="opacity:0.9;">


        <div id="h">
          <center>
          <h1>Balance Inquiry</h1>
        </center>
        </div>
<center>
        <table id="tab">

          <tr>
          <td>
            <i class="fas fa-money-check-alt"></i> &nbsp;
          <label for="cardno">Current Account Balance</label>
          </td>
          <td></td>
          <td style="margin-left:50px;">
          <span>  <i class="fas fa-rupee-sign"></i> &nbsp;{{user.balance}}</span>
          </td>
          </tr>

          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
    
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>

          <tr>

            <td style="float:right;">
              <button type="button" onclick="cancel()" style="margin-top:25%; width:135%;"  > Cancel Transaction &nbsp;<i class="far fa-times-circle"></i></button>
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
</center>
      </div>

    </section>
 
 {{>footer}}
  </body>
</html>
