<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ATM System.</title>
    <link rel="stylesheet" href="/indexstyle.css">
    <link rel="stylesheet" href="/all.css">

    <script type="text/javascript">

function redirect(button){
  var x = button.id;
  if(x==1)
  {
    var ans =  confirm("Press Ok to Cancel");
    if (ans == true) {
      document.write();
      window.location.href="/transc/{{user.id}}";
      //window.location.assign("transc")

    } else {
      //document.write();
  //window.location.assign("bal.html")
  return false
    }
  }

  if (x=='ch') {
    var ans =  confirm("Press Ok to Change your Pin");
    if (ans == true) {
      //document.write();
      var pin = document.getElementById('pin').value;
      var cpin = document.getElementById('cpin').value;
      if(pin!='' && cpin!='')
      {
        if(pin == cpin){
        document.getElementById('pinform').submit();
        alert("Your Pin is Changed!");
        window.location.href="/transc/{{user.id}}";
        }
        else{
          alert("Your Pin Does'nt Match !");
        }
      }
      else{
        alert('Please Enter Pin and Confirm Pin To Continue !');
      }
     // alert("Your Pin is Changed!");
      //
      //window.location.assign("transc")

    } else {
      //document.write();
  //window.location.assign("bal.html")
  return false
    }
  }
}





    </script>


  </head>
  <body>


{{>header}}
      <section id="mainpin">
      <div id="log">
<form id="pinform" action="/pin/{{user.id}}" method="post">


        <div id="h">
          <center>
          <h1>Change Pin {{user.name}}</h1>
        </center>
        </div>
<center>
        <table id="tab">

          <tr>
          <td id="td">
            <i class="fas fa-shield-alt"></i> &nbsp;
          <label for="cardno">set new pin</label>
            </td>
          <td></td>

          <td>
          <input type="password" id="pin" name="pin" placeholder="      XXXX" required minlength="4" maxlength="4" onemptied="Please Enter the Pin!" oninvalid="Pin Must Be 4 Digits Long" pattern="[0-9]*" title="Pin Entered Must BE In Numeric Format!">
          </td>
          </tr>

          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>

          <tr id="td">
          <td>
            <i class="fas fa-check-double"></i> &nbsp;
          <label for="pin">confirm Pin</label>
          </td>
          <td></td>
          <td>
          <input type="password" id="cpin" name="cpin" placeholder="       XXXX" required minlength="4" maxlength="4" onemptied="Please Enter the Pin!" oninvalid="Pin Must Be 4 Digits Long" pattern="[0-9]*" title="Pin Entered Must BE In Numeric Format!">
          </td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>

          <tr>
            <td style="" id="cancel">
             <button type="button" onclick="redirect(this)" id="1" >Cancel &nbsp;<i class="far fa-times-circle"></i></button>
            </td>
            <td></td>
            <td id="confirm" style="float:right; margin-right:60px;">
              <button type="button" onclick="redirect(this)" id="ch"  >Change &nbsp;<i class="fas fa-user-lock"></i> </button>
            </td>
          </tr>
        </table>
</center>

</form>
      </div>

    </section>
 
 {{>footer}}
  </body>
</html>
