<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ATM System.</title>
    <link rel="stylesheet" href="depositstyle.css">
    <link rel="stylesheet" href="all.css">

    <script type="text/javascript">

    function redirect(button){
      var x = button.id;
      if(x==1)
      {
        var ans =  confirm("Press Ok to Cancel the Transaction");
        if (ans == true) {
          document.write();
          //window.location.href="transc.html";
          window.location.assign("transc")

        } else {
          //document.write();
      //window.location.assign("bal.html")
      return false
        }
      }

      if (x=='with') {
        var ans =  confirm("Press Ok to Withdraw the Amount");
        if (ans == true) {
          document.write();
          var bal = confirm("Amount Withdrawn! Press Ok for Balance Inquiry")
          //window.location.href="transc.html";
          if(bal == true){
            document.write();
            window.location.assign("bal");
          }
          else{

          window.location.assign("transc");
        }

        } else {
          //document.write();
      //window.location.assign("bal.html")
      return false
        }
      }
    }
  </script>


  </head>
  <body>

{{>header}}

      <section id="main">
      <div id="log">
<form class="" action="" method="post">


        <div id="h">
          <center>
          <h1>Withdraw money</h1>
        </center>
        </div>
<center>
        <table id="tab">

          <tr>
          <td>
          <i class="fas fa-money-bill-wave"></i> &nbsp;
          <label for="cardno">Withdraw Amount</label>
          </td>
          <td></td>

          <td>
          <input type="integer" name="cardno" placeholder="       1000/-" minlength="3" maxlength="5" onemptied="Please Enter the Amount!" required oninvalid="Amount Must Be Value Between 3 to 5 Digits" pattern="[0-9]*" title="Amount Must Be Entered In 3-5 Digits Numeric Format!">
          </td>
          </tr>

          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>

          <tr>
          <td>
            <i class="fas fa-piggy-bank"></i> &nbsp;
          <label for="account">Account</label>
          </td>
          <td></td>
          <td id="radio">
            <fieldset>

                <label for=""><input style="padding:0 !important;" type="radio" name="gender" value="male"/> Saving</label>  <br>
                <label  for=""><input style="padding:0 !important;" type="radio" name="gender" value="female"/> Current </label> <br>
              </fieldset>


          </td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>

          <tr>
            <td style="" id="cancel">
            <button onclick="redirect(this)" id="1" type="" name="submit">Cancel Transaction &nbsp;<i class="far fa-times-circle"></i></button>
            </td>
            <td></td>
            <td id="with" style="float:right; margin-right:60px;">
              <button type="submit" name="submit" onclick="redirect(this)" id="with">Withdraw &nbsp;<i class="fas fa-user-check"></i> </button>
            </td>
          </tr>
        </table>
</center>

</form>
      </div>

    </section>
 
 {{>footer}}
  </body>
</html>
